* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    font-family: 'Stratos-Regular', sans-serif;
    cursor: pointer;
}

button,
._btn {
    cursor: pointer;
}

ul li {
    list-style: none;
}

@font-face {
    font-family: 'Stratos-Regular';
    src: local("Stratos-Regular"), local("Stratos-Regular"), url("./fonts/Stratos-Regular.woff2") format("woff2"), url("./fonts/Stratos-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Stratos-Regular', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #383838;
}

.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #181818;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}